<html>
    <head>
        <title>
            About
        </title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
             <meta charset="utf-8">
             <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    </head>

    <body>
        <h1>{{title}}</h1>
        {{>header}}  

        <p class="about_1">Get Latest weather updated via our weather app</p>
        <p class="about_2">Want to Build an app, Use our API to make things lot easier</p>


    </body>
   {{>footer}}
</html>


<style>

    .about_1{
       font-family: sans-serif;
       font-size: 13px; 
       margin-top: 60px;
       letter-spacing: 1.0px;
       color: #333333;
    }

    .about_2{
       font-family: sans-serif;
       font-size: 13px; 
       margin-top: 10px;
       letter-spacing: 1.0px;
       color: #333333;
    }

</style>