<html>
    <head>
        <title>
            Documentation
        </title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <h1>{{title}}</h1>
         {{>header}} 

    <p class="d1">Get weather : http://localhost:3000/api?address=[Your Location]</p>
    <p class="d2">Test Location : Kolkata </p>
    <a href="http://localhost:3000/api?address=Kolkata">http://localhost:3000/api?address=Kolkata</a>

    </body>
          {{>footer}}
</html>