<!DOCTYPE html>

<html>
    <head>
        <title>
            Home
        </title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css"> 
             <meta charset="utf-8">
             <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
            
    </head>

    <body>
        <h1>{{title}}</h1>
         {{>header}} 

            <form>
                <input placeholder="Location" required = true>
                <button>Search</button>
            </form>
            

            <p class="msgLocation" id="msgLocation"></p>
            <p class="msgTemp" id="msgTemp"></p>
            <p class="msgForecast" id="msgForecast"></p>
            <p class= "minmax" id = "minmax"></p>
           
            


         <script src="./js/c_side.js"></script>
    </body>
  {{>footer}}
</html>